<header>
  <h1>CRUD</h1>
  <nav>
    <ul id="navigation">
      <li id="nav-item-2" class="nav-item">
        <a class="nav-link" id="nav-link-2" href="/">Register</a>
      </li>
      <li id="nav-item-3" class="nav-item">
        <a class="nav-link" id="nav-link-3" href="/employeeData"
          >Employee Data</a
        >
      </li>
    </ul>
  </nav>
  <!-- <div class="burger-menu"><i class="bx bx-menu"></i></div> -->
</header>
